*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
lib/EnzymeCore/Manifest.toml
/Manifest-v*.toml
/test/Manifest.toml
/docs/Manifest.toml
/docs/build/
/docs/src/generated/
test/integration/**/Manifest.toml
.vscode
.CondaPkg
array.txt

