name = "Enzyme"
uuid = "7da242da-08ed-463a-9acd-ee780be4f1d9"
authors = ["William Moses <wmoses@mit.edu>", "Valentin Churavy <vchuravy@mit.edu>"]
version = "0.11.15"

[deps]
CEnum = "fa961155-64e5-5f13-b03f-caf6b980ea82"
EnzymeCore = "f151be2c-9106-41f4-ab19-57ee4f262869"
Enzyme_jll = "7cc45869-7501-5eee-bdea-0790c847d4ef"
GPUCompiler = "61eb1bfa-7361-4325-ad38-22787b887f55"
LLVM = "929cbde3-209d-540e-8aea-75f648917ca0"
Libdl = "8f399da3-3557-5675-b5ff-fb832c97cbdb"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
ObjectFile = "d8793406-e978-5875-9003-1fc021f44a92"
Preferences = "21216c6a-2e73-6563-6e65-726566657250"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"

[weakdeps]
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"

[extensions]
EnzymeSpecialFunctionsExt = "SpecialFunctions"

[compat]
CEnum = "0.4, 0.5"
EnzymeCore = "0.6.4, 0.6.5"
Enzyme_jll = "0.0.102"
GPUCompiler = "0.21, 0.22, 0.23, 0.24, 0.25"
LLVM = "6.1"
ObjectFile = "0.4"
Preferences = "1.4"
julia = "1.6"
