name: Build and deploy documentation to Scripts

on:
  push:
    branches:
      - main
#       - release-*
#     tags: '*'

jobs:
  docs:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - uses: julia-actions/install-juliaup@v2
        with:
          channel: 'lts'
      - uses: julia-actions/cache@v2
      - run: |
          julia --project=docs -e '
            using Pkg
            Pkg.develop([PackageSpec(path="lib/EnzymeCore"), PackageSpec(path=pwd()), PackageSpec(path="lib/EnzymeTestUtils")])
            Pkg.instantiate()'
        env:
          JULIA_PKG_SERVER_REGISTRY_PREFERENCE: eager
      - run: |
          julia --project=docs -e '
            using Documenter: DocMeta, doctest
            using Enzyme
            DocMeta.setdocmeta!(Enzyme, :DocTestSetup, :(using Enzyme); recursive=true)
            doctest(Enzyme)'
      - run: julia --project=docs docs/make.jl
